registries:
  docker-elastic:
    type: docker-registry
    url: https://docker.elastic.co
    username: ${{secrets.ELASTIC_DOCKER_USERNAME}}
    password: ${{secrets.ELASTIC_DOCKER_PASSWORD}}

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/packages/opentelemetry-node"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"
    groups:
      opentelemetry:
        patterns:
        - "@opentelemetry/*"
      aws-sdk:
        dependency-type: "development"
        patterns:
        - "@aws-sdk/*"
        - "@smithy/*"
      patch-level:
        update-types:
        - "patch"

  - package-ecosystem: "npm"
    directory: "/packages/mockotlpserver"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"
    groups:
      mockotlpserver:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/packages/instrumentation-openai"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"
    ignore:
      # Locked to the same version being used by opentelemetry-js-contrib.
      - dependency-name: "@types/node"
      # Locked to the same version being used by opentelemetry-js-contrib.
      - dependency-name: "@typescript-eslint/*"
      # Locked to the same version being used by opentelemetry-js-contrib.
      - dependency-name: "typescript"
    groups:
      instrumentation-openai:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"
    ignore:
      # eslint-related deps are skipped until we have upgraded to eslint@9
      # https://github.com/elastic/elastic-otel-node/pull/155
      - dependency-name: "eslint*"
      - dependency-name: "@eslint/*"
      # Packages whose major versions have dropped support for Node.js versions
      # that this package needs.
      - dependency-name: "glob" # glob@11 dropped 14, 16, 18
        versions: [ ">=11" ]
      - dependency-name: "minimatch" # minimatch@10 dropped 14, 16, 18
        versions: [ ">=10" ]
    groups:
      # eslint:
      #   dependency-type: "development"
      #   patterns:
      #   - "eslint*"
      #   - "@eslint/*"
      repo-root:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/examples"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "elastic/apm-agent-node-js"

  - package-ecosystem: "github-actions"
    directory: "/"
    reviewers:
      - "elastic/observablt-ci"
      - "elastic/apm-agent-node-js"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/"
    registries: "*"
    reviewers:
      - "elastic/apm-agent-node-js"
    schedule:
      interval: "weekly"
