registries:
  docker-elastic:
    type: docker-registry
    url: https://docker.elastic.co
    username: ${{secrets.ELASTIC_DOCKER_USERNAME}}
    password: ${{secrets.ELASTIC_DOCKER_PASSWORD}}

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/packages/opentelemetry-node"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
    ignore:
      # We should use "./scripts/update-otel-deps.js" for updating '@opentelemetry/*'.
      - dependency-name: "@opentelemetry/*"
      # undici@7 dropped Node.js 18 support
      - dependency-name: "undici"
        versions: [ ">=7" ]
      # @types/glob@9 is empty, assuming one is using glob@9, but we aren't
      - dependency-name: "@types/glob"
        versions: [ ">=9" ]
    groups:
      aws-sdk:
        patterns:
        - "@aws-sdk/*"
        - "@smithy/*"

  - package-ecosystem: "npm"
    directory: "/packages/mockotlpserver"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
    ignore:
      # Cannot take protobufjs@8 and protobufjs-cli@2 until https://github.com/protobufjs/protobuf.js/pull/2118 is fixed.
      - dependency-name: "protobufjs"
        versions: [ ">=8" ]
      - dependency-name: "protobufjs-cli"
        versions: [ ">=2" ]
    groups:
      mockotlpserver:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/packages/mockopampserver"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
    ignore:
      # uuid@12 dropped CommonJS support (https://github.com/uuidjs/uuid/issues/881)
      - dependency-name: "uuid"
        versions: [ ">=12" ]
      # @isaacs/ttlcache@2 dropped Node.js 18 support (https://github.com/isaacs/ttlcache/commit/2f17fb26b)
      - dependency-name: "@isaacs/ttlcache"
        versions: [ ">=2" ]
    groups:
      minors:
        patterns:
        - "*"
        update-types:
        - "minor"

  - package-ecosystem: "npm"
    directory: "/packages/opamp-client-node"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
    ignore:
      # undici@7 dropped Node.js 18 support
      - dependency-name: "undici"
        versions: [ ">=7" ]
      # uuid@12 dropped CommonJS support (https://github.com/uuidjs/uuid/issues/881)
      - dependency-name: "uuid"
        versions: [ ">=12" ]
    groups:
      opamp-client-node:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10
    ignore:
      # eslint-related deps are skipped until we have upgraded to eslint@9
      # https://github.com/elastic/elastic-otel-node/pull/155
      - dependency-name: "eslint*"
      - dependency-name: "@eslint/*"
      # Packages whose major versions have dropped support for Node.js versions
      # that this package needs.
      - dependency-name: "glob" # glob@11 dropped 14, 16, 18
        versions: [ ">=11" ]
      - dependency-name: "minimatch" # minimatch@10 dropped 14, 16, 18
        versions: [ ">=10" ]
    groups:
      # eslint:
      #   dependency-type: "development"
      #   patterns:
      #   - "eslint*"
      #   - "@eslint/*"
      repo-root:
        patterns:
        - "*"

  - package-ecosystem: "npm"
    directory: "/examples"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/examples/otel-operator"
      - "/packages/mockopampserver"
      - "/packages/mockotlpserver"
      - "/packages/mockotlpserver/share/k8s/example-app-manual"
      - "/packages/opentelemetry-node"
    registries: "*"
    schedule:
      interval: "monthly"
