*.md
*.json
*.jsonc
*.json5
*.yml
*.yaml
*.html
*.css
*.d.ts

**/*.example.js
**/*.example.mjs
**/.nyc_output/**
**/node_modules/**
**/tmp/**
**/build/**
**/*.min.js
**/lib/luggite.js
**/lib/generated/**
packages/opentelemetry-node/test/fixtures/a-ts-proj/index.js
