# Release a tagged version of the '@elastic/mockopampserver' package.
name: release-mockopampserver

on:
  push:
    tags:
      - mockopampserver-v*.*.*

permissions:
  artifact-metadata: write
  attestations: write # Required for actions/attest-build-provenance
  contents: write # Required for "GitHub release" step
  id-token: write # Required for OIDC and provenance (npm publish)
  packages: write # Required for ghcr.io publish? https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#permissions
  pull-requests: read

jobs:
  release:
    runs-on: ubuntu-24.04
    env:
      PKGDIR: packages/mockopampserver
      PKGNAME: "@elastic/mockopampserver"
      DOCKER_IMAGE_NAME: ghcr.io/${{ github.repository }}/mockopampserver
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          # Require npm 11.5.1 or later for https://docs.npmjs.com/trusted-publishers.
          node-version: 'v24.8.0'
          registry-url: 'https://registry.npmjs.org'

      # Multiple steps to push a docker image.
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          # NOTE: disable the cache poisoning vector attack
          cache-binary: false

      - id: docker-meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051  # v5.10.0
        with:
          images: ${{ env.DOCKER_IMAGE_NAME }}
          flavor: |
            latest=auto
          tags: |
            # git tag "mockopampserver-v1.2.3" -> Docker tags "1.2.3", "latest"
            type=match,pattern=mockopampserver-v(\d+\.\d+\.\d+),group=1
          labels: |
            org.opencontainers.image.vendor=Elastic
            org.opencontainers.image.title=mockopampserver
            org.opencontainers.image.description=A mock OpAMP server, for dev and testing
      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772  # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        id: docker-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: ${{ env.PKGDIR }}
          platforms: linux/amd64,linux/arm64
          file: 'packages/mockopampserver/Dockerfile'
          push: true
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
      - name: Attest Docker image
        uses: actions/attest-build-provenance@v3.1.0
        with:
          subject-name: ${{ env.DOCKER_IMAGE_NAME }}
          subject-digest: ${{ steps.docker-push.outputs.digest }}
          push-to-registry: true

      - run: npm publish
        working-directory: ${{ env.PKGDIR }}

      - name: GitHub release
        run: |
          npm ci --ignore-scripts  # need top-level devDeps for github-release.sh script
          ./scripts/github-release.sh "$PKGDIR" "${{ github.ref_name }}"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Notify in Slack
        # Only notify on failure, because on success the published GitHub
        # Release will result in a notification from the GitHub Slack app
        # (assuming '/github subscribe elastic/elastic-otel-node').
        if: ${{ failure() }}
        uses: elastic/oblt-actions/slack/notify-result@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#apm-agent-node"
          message: '[${{ github.repository }}] Release `${{ env.PKGNAME }}` *${{ github.ref_name }}*'
